doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Real Estate &lt; 220103 &gt; | #{page}
        link(rel="icon", type="image/x-icon", href="/img/bienes-raices.png")
        link(rel="stylesheet", href="/css/app.css")
        block styles 
        script(src="/js/setTime.js") 
    body.mint-h-screen.bg-customBlue 
        if showHeader
            include navbar
        main(class="mx-auto container mrt-10 px2")
            block content
        block scripts