doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Real Estate - 220103 #{page}     
        link(rel='stylesheet', href='/css/app.css')
    body(style="background-color: #026873;").min-h-screen
        h1.text-white.text-4xl.text-center.py-10
            main(class="mx-auto container mt-10 px-2")
                block content
