doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Template Engine PUG
    link(rel="stylesheet", href="/src/public/css/app.css")

  body
    div
      h2#Encabezado(class="text-center text-aqua") Login
      p Please type your credentials to access.