extends ../layout/index 
block content 
    .py-10.text-center.p-5.font-extrabolder.text-xl
        a(href="/properties/create" class="rounded py-2 px-10 bg-customYellow hover:bg-customYellow2 text-sm font-bold text-center text-white uppercase my-5 inline-block w-full md:w-auto") Publish new property


    