extends ../layout/index 
block content 
    div.py-10 
        h1.text-center.text-4xl.my-10.font-extrabold.text-customYellow Real 
            span.font-normal.text-black Estate 
        h2.text-center.text-3xl.font-extrabold.text-white= page 
        div.bg-white.shadow.py-8.px-4.border-lg.max-w-md.mx-auto
            p.text-xl.text-bold.text-center.my-10.text-white.upercase.py-5(class= error ? "bg-red-500" : "bg-green-500")= msg    
                 div.flex.items-center.justify-between.pt-5 
                    a(href="/login").w-full.uppercase.text-white.text-center(class="text-gray-800 font-bold py-3 px-5 cursor-pointer bg-customYellow rounded-xl hover:bg-customYellow2 hover:text-white ") #{button}
                    