extends ../layout/index

block content
  body(style="background-color: #026873;")
    div.py-10(style="background-color: #026873;")
      h1.text-center-4xl.my-10.font-extrabold.text-black.text-center.text-5xl(style="color: #BF7F30;") Real
        span.font-normal(style="color: black;") Estate
      h2.text-center.text-3.l.font-extrabold.text-4xl= page

      p.text-xl.font-bold.text-center.my-10= message